[defaults]
host_key_checking = False
# Inventory is omitted here to prevent running against the wrong env by accident

[callback_plugins]
# Callback plugin directory (callback plugin is optional - only loads if opentelemetry is installed)
callback_plugins = ./callback_plugins
